.home-container{
    display: flex;
    flex-wrap: wrap;
     /* gap: 10px;  */
    justify-content: center;
    align-items: center;
  
} 
.address-bar{
    display: flex;
    background-color: black;
    width:100%;
    height: 30px;
    color: white;
   align-items: center;
    gap:5px;
}
.address-bar i{
    margin-left: 50px;
}
.social-icon{
    align-items: center;
    margin-left: 600px;
}
.social-icon i{
    gap:0px;
}
.nav-bar{
    display: flex;
    background-color:white;
    width:100%;
    height:100px;
    align-items: center;
}
.logo{
    margin-left: 70px;
}
.navbar-container{
display: flex;
gap:40px;
margin-left: 200px;
align-items: center;
}
.icon {
    margin-left: 400px;
  
}
.icon i{
gap:40px;
}

.content{
    display:flex;
    margin-top: 80px;

}
.brands{
    display:flex;
   margin-left:700px;
   gap:15px;

}
.cards-wrapper{
    display:flex;
    gap:10px;
}
.card{
    width:25%;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin-top: 10px;
    
}
.img img{
    width:100%;
    border-radius: 10px;
}
.banner{
    margin-top: 80px;
    height:300px;
}
.cards-wrapper2{
    display:flex;
    gap:10px;
    
}
.content2{
    margin-top: 250px;
    margin-left: 500px;
}

.content3{
    margin-top: 80px;
    margin-left: 500px;
}

.cards-wrapper3{
    display:flex;
    gap:10px;
    margin-left: 350px;
    
}
.card1{
  width: 30%;
  margin-top: 30px;

}
.footer{
    margin-top: 50px;
}
.footer p{
    margin-left: 100px;
    
}
.marquee-bar{
    margin-top: 80px;
    width:100%;
    height:100px;
    background-color: rgb(142, 142, 143);
    align-content: center;
}
.m-list{
    display: flex;
    gap:50px;
    text-size-adjust: 100px;
}
